## Data Muning Exercise

In [1]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
import numpy as np

df = pd.read_excel('DFP.xlsx', sheet_name='Data', engine='openpyxl')

print("Column headings:")
print(df.columns)

Column headings:
Index(['DATE', 'DAY', 'AD_UNIT_NAME', 'ORDER_NAME', 'ADVERTISER_NAME',
       'LINE_ITEM_NAME', 'Tags_served', 'Impressions', 'Clicks', 'CTR',
       'Revenue', 'eCPM'],
      dtype='object')

In [2]:
df["amp_or_non_amp"] = np.nan

In [3]:
df["story"] = np.nan

In [4]:
df["position"] = np.nan

In [5]:
print("Column headings:")
print(df.columns)

Column headings:
Index(['DATE', 'DAY', 'AD_UNIT_NAME', 'ORDER_NAME', 'ADVERTISER_NAME',
       'LINE_ITEM_NAME', 'Tags_served', 'Impressions', 'Clicks', 'CTR',
       'Revenue', 'eCPM', 'amp_or_non_amp', 'story', 'position'],
      dtype='object')

## Creating Story, Position and AMP/NonAMP Columns

In [6]:
position= ['top', 'middle', 'bottom']
df['position']=df['AD_UNIT_NAME'].apply(lambda x: ''.join([i for i in position if i in x]))

story= ['first', 'second', 'third','fourth','fifth','sixth','seventh','eight','ninth']
df['story']=df['AD_UNIT_NAME'].apply(lambda x: ''.join([i for i in story if i in x]))

df['amp_or_non_amp'] = np.where(df['AD_UNIT_NAME'].str.contains('amp'), 'Amp', 'Nonamp')

In [7]:
df

,DATE,DAY,AD_UNIT_NAME,ORDER_NAME,ADVERTISER_NAME,LINE_ITEM_NAME,Tags_served,Impressions,Clicks,CTR,Revenue,eCPM,amp_or_non_amp,story,position
0,2018-01-01,1,CarToq_ad_first_story_pos_top (122380182),CarToq Adx,Google Adx,Adsense house ad,74755,72602,0,0.0000,3630.100000,50.000000,Nonamp,first,top
1,2018-01-01,1,CarToq_ad_first_story_pos_top (122380182),CarToq Adx,Google Adx,Adsense backup ad,13683,13241,0,0.0000,397.230000,30.000000,Nonamp,first,top
2,2018-01-01,1,CarToq_ad_first_story_pos_top (122380182),CarToq Adx,Google Adx,CarToq ad first story pos first,86739,84928,1375,0.0162,5910.674200,69.596296,Nonamp,first,top
3,2018-01-01,1,CarToq_ad_first_story_pos_top (122380182),CarToq Adx,Google Adx,Adx Native Ad,94482,91685,1277,0.0139,6124.947976,66.804253,Nonamp,first,top
4,2018-01-01,1,CarToq_ad_first_story_pos_middle (122380422),CarToq Adx,Google Adx,Adsense house ad,69605,67661,0,0.0000,3383.050000,50.000000,Nonamp,first,middle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50277,2018-07-31,2,amp-cartoq-afterrelated (21719659148),Teads-Outstream-Video_monthly_11-06-2018,Teads.tv,Teads AMP Bottom Ad Unit,59652,45084,0,0.0000,2705.040000,60.000000,Amp,,
50278,2018-07-31,2,amp-cartoq-afterrelated (21719659148),Test Order,Internal Ad,Cartoq House ad,1117,862,0,0.0000,0.000000,0.000000,Amp,,
50279,2018-07-31,2,amp-cartoq-afterrelated (21719659148),Google Adsense - Cartoq English,Google Adsense,Adsense house ad - 300x250-1 - Cartoq Non AMP,203,152,0,0.0000,1.520000,10.000000,Amp,,
50280,2018-07-31,2,amp-cartoq-afterrelated (21719659148),Google Adsense - Cartoq English,Google Adsense,Adsense house ad - 336x280-1 - Cartoq Non AMP,45183,34270,0,0.0000,685.400000,20.000000,Amp,,
50281,2018-07-31,2,amp-cartoq-afterrelated (21719659148),Droom-Cartoq-PG,Droom,Droom-Cartoq-PG-Deal,44481,33802,47,0.0014,1879.494536,55.603057,Amp,,

In [8]:
print("Column headings:")
print(df.columns)

Column headings:
Index(['DATE', 'DAY', 'AD_UNIT_NAME', 'ORDER_NAME', 'ADVERTISER_NAME',
       'LINE_ITEM_NAME', 'Tags_served', 'Impressions', 'Clicks', 'CTR',
       'Revenue', 'eCPM', 'amp_or_non_amp', 'story', 'position'],
      dtype='object')

## DAY Column to Map the Day's name in Week

In [9]:
weeks = {1:'Monday', 2:'Tuesday', 3:'Wednesday',4:'Thursday', 5:'Friday', 6:'Saturday', 7: 'Sunday'}
# Mapping the dictionary keys to the data frame.
df['DAY'] = df['DAY'].map(weeks)
df.head()

,DATE,DAY,AD_UNIT_NAME,ORDER_NAME,ADVERTISER_NAME,LINE_ITEM_NAME,Tags_served,Impressions,Clicks,CTR,Revenue,eCPM,amp_or_non_amp,story,position
0,2018-01-01,Monday,CarToq_ad_first_story_pos_top (122380182),CarToq Adx,Google Adx,Adsense house ad,74755,72602,0,0.0000,3630.100000,50.000000,Nonamp,first,top
1,2018-01-01,Monday,CarToq_ad_first_story_pos_top (122380182),CarToq Adx,Google Adx,Adsense backup ad,13683,13241,0,0.0000,397.230000,30.000000,Nonamp,first,top
2,2018-01-01,Monday,CarToq_ad_first_story_pos_top (122380182),CarToq Adx,Google Adx,CarToq ad first story pos first,86739,84928,1375,0.0162,5910.674200,69.596296,Nonamp,first,top
3,2018-01-01,Monday,CarToq_ad_first_story_pos_top (122380182),CarToq Adx,Google Adx,Adx Native Ad,94482,91685,1277,0.0139,6124.947976,66.804253,Nonamp,first,top
4,2018-01-01,Monday,CarToq_ad_first_story_pos_middle (122380422),CarToq Adx,Google Adx,Adsense house ad,69605,67661,0,0.0000,3383.050000,50.000000,Nonamp,first,middle

## Merge Actual_eCPM Data from Actual_eCPM.csv

In [10]:
df1= pd.read_csv("Actual_eCPM.csv")
df1

                       LINE_ITEM_NAME Actual_eCPM
0                    Adsense house ad           -
1                   Adsense backup ad           -
2     CarToq ad first story pos first           -
3                       Adx Native Ad           -
4    CarToq ad first story pos second           -
..                                ...         ...
666        PWT_5b192bb1e9219_1158.498           -
667        PWT_5b192bb1e9219_1084.623           -
668          PWT_5b192a8c96669_660.11           -
669         PWT_5b192a8c96669_737.297           -
670        PWT_5b192bb1e9219_1111.486           -

[671 rows x 2 columns]

In [11]:
df = pd.merge(df, df1, on='LINE_ITEM_NAME', how = 'inner')
df

,DATE,DAY,AD_UNIT_NAME,ORDER_NAME,ADVERTISER_NAME,LINE_ITEM_NAME,Tags_served,Impressions,Clicks,CTR,Revenue,eCPM,amp_or_non_amp,story,position,Actual_eCPM
0,2018-01-01,Monday,CarToq_ad_first_story_pos_top (122380182),CarToq Adx,Google Adx,Adsense house ad,74755,72602,0,0.0,3630.10000,50.00,Nonamp,first,top,-
1,2018-01-01,Monday,CarToq_ad_first_story_pos_middle (122380422),CarToq Adx,Google Adx,Adsense house ad,69605,67661,0,0.0,3383.05000,50.00,Nonamp,first,middle,-
2,2018-01-01,Monday,CarToq_ad_first_story_pos_bottom (122380542),CarToq Adx,Google Adx,Adsense house ad,18682,18116,0,0.0,905.80000,50.00,Nonamp,first,bottom,-
3,2018-01-01,Monday,CarToq_ad_second_story_pos_top (122380662),CarToq Adx,Google Adx,Adsense house ad,55769,54252,0,0.0,2712.60000,50.00,Nonamp,second,top,-
4,2018-01-01,Monday,CarToq_ad_second_story_pos_middle (122380782),CarToq Adx,Google Adx,Adsense house ad,10634,10378,0,0.0,518.90000,50.00,Nonamp,second,middle,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50121,2018-07-31,Tuesday,CarToq_ad_first_story_pos_bottom (122380542),Cartoq_PMOW_P12_4.51_to_50,PubMatic,PWT_5b192bb1e9219_1084.623,1,1,0,0.0,1.08462,1084.62,Nonamp,first,bottom,-
50122,2018-07-31,Tuesday,CarToq_ad_first_story_pos_bottom (122380542),Cartoq_PMOW_P12_4.51_to_50,PubMatic,PWT_5b192a8c96669_660.11,1,1,0,0.0,0.66011,660.11,Nonamp,first,bottom,-
50123,2018-07-31,Tuesday,CarToq_ad_third_story_pos_middle (122381142),Cartoq_PMOW_P12_4.51_to_50,PubMatic,PWT_5b192a8c96669_660.11,1,1,0,0.0,0.66011,660.11,Nonamp,third,middle,-
50124,2018-07-31,Tuesday,CarToq_ad_first_story_pos_bottom (122380542),Cartoq_PMOW_P12_4.51_to_50,PubMatic,PWT_5b192a8c96669_737.297,1,1,0,0.0,0.73730,737.30,Nonamp,first,bottom,-
50125,2018-07-31,Tuesday,CarToq_ad_first_story_pos_bottom (122380542),Cartoq_PMOW_P12_4.51_to_50,PubMatic,PWT_5b192bb1e9219_1111.486,1,1,0,0.0,1.11149,1111.49,Nonamp,first,bottom,-

In [12]:
df['Actual_eCPM'].values

array(['-', '-', '-', ..., '-', '-', '-'], dtype=object)

In [13]:
df['Actual_eCPM'] = np.where(df['Actual_eCPM'] == '-', df['eCPM'], df['Actual_eCPM'])

In [14]:
df['Actual_Revenue'] = df['Impressions'] * df['Actual_eCPM']

In [15]:
df

,DATE,DAY,AD_UNIT_NAME,ORDER_NAME,ADVERTISER_NAME,LINE_ITEM_NAME,Tags_served,Impressions,Clicks,CTR,Revenue,eCPM,amp_or_non_amp,story,position,Actual_eCPM,Actual_Revenue
0,2018-01-01,Monday,CarToq_ad_first_story_pos_top (122380182),CarToq Adx,Google Adx,Adsense house ad,74755,72602,0,0.0,3630.10000,50.00,Nonamp,first,top,50.0,3630100.0
1,2018-01-01,Monday,CarToq_ad_first_story_pos_middle (122380422),CarToq Adx,Google Adx,Adsense house ad,69605,67661,0,0.0,3383.05000,50.00,Nonamp,first,middle,50.0,3383050.0
2,2018-01-01,Monday,CarToq_ad_first_story_pos_bottom (122380542),CarToq Adx,Google Adx,Adsense house ad,18682,18116,0,0.0,905.80000,50.00,Nonamp,first,bottom,50.0,905800.0
3,2018-01-01,Monday,CarToq_ad_second_story_pos_top (122380662),CarToq Adx,Google Adx,Adsense house ad,55769,54252,0,0.0,2712.60000,50.00,Nonamp,second,top,50.0,2712600.0
4,2018-01-01,Monday,CarToq_ad_second_story_pos_middle (122380782),CarToq Adx,Google Adx,Adsense house ad,10634,10378,0,0.0,518.90000,50.00,Nonamp,second,middle,50.0,518900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50121,2018-07-31,Tuesday,CarToq_ad_first_story_pos_bottom (122380542),Cartoq_PMOW_P12_4.51_to_50,PubMatic,PWT_5b192bb1e9219_1084.623,1,1,0,0.0,1.08462,1084.62,Nonamp,first,bottom,1084.62,1084.62
50122,2018-07-31,Tuesday,CarToq_ad_first_story_pos_bottom (122380542),Cartoq_PMOW_P12_4.51_to_50,PubMatic,PWT_5b192a8c96669_660.11,1,1,0,0.0,0.66011,660.11,Nonamp,first,bottom,660.11,660.11
50123,2018-07-31,Tuesday,CarToq_ad_third_story_pos_middle (122381142),Cartoq_PMOW_P12_4.51_to_50,PubMatic,PWT_5b192a8c96669_660.11,1,1,0,0.0,0.66011,660.11,Nonamp,third,middle,660.11,660.11
50124,2018-07-31,Tuesday,CarToq_ad_first_story_pos_bottom (122380542),Cartoq_PMOW_P12_4.51_to_50,PubMatic,PWT_5b192a8c96669_737.297,1,1,0,0.0,0.73730,737.30,Nonamp,first,bottom,737.3,737.3
50125,2018-07-31,Tuesday,CarToq_ad_first_story_pos_bottom (122380542),Cartoq_PMOW_P12_4.51_to_50,PubMatic,PWT_5b192bb1e9219_1111.486,1,1,0,0.0,1.11149,1111.49,Nonamp,first,bottom,1111.49,1111.49

In [16]:
df.to_csv('DFP_solution.csv')